/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Lavishly+Yours&family=Libertinus+Keyboard&family=Ms+Madi&family=Outfit:wght@100..900&family=Story+Script&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 57, 57);
    font-size: 3rem;
}

body h2 {
    font-family: "Delicious Handrawn", cursive;
    margin-bottom: 10px;
}

body p {
    font-family: "Lavishly Yours", cursive;
}


/* TASKS */

.group {
    position: relative;
    display: flex;
    width: 70%;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
    height: 200px;
    margin: 2rem;
    box-shadow: 4px 3px 10px;
    /* position: absolute; */
    opacity: 0.7;
    transition: all 0.3s ease;
}

.card:hover {
    transform: rotate(10deg) translate(30px) scale(1.5);
    opacity: 1;
    box-shadow: 40px 300px 30px rgba(0, 0, 0, 0.449);
    z-index: 1;
}

.one {
    background: linear-gradient(175deg,
            rgb(111, 172, 247) 0%,
            rgb(122, 179, 249) 40%,
            rgb(97, 141, 196) 70%,
            rgb(88, 135, 193) 98%,
            rgb(97, 139, 191) 100%);
    transform: rotate(10deg);
}

.two {
    background: linear-gradient(175deg,
            #96f78b 0%,
            #acf8a4 40%,
            #93d88c 70%,
            #639a5e 98%,
            #3e623b 100%);
    margin: 2rem;
    transform: rotate(4deg);
}

.three {
    background: linear-gradient(175deg,
            rgb(246, 240, 133) 0%,
            rgb(247, 242, 159) 40%,
            rgb(224, 219, 118) 70%,
            rgb(181, 176, 96) 98%,
            rgb(150, 147, 80) 100%);
    transform: rotate(-4deg);
}

.four {
    background: linear-gradient(175deg,
            rgb(241, 158, 254) 0%,
            rgb(238, 173, 249) 40%,
            rgb(219, 143, 231) 70%,
            rgb(190, 121, 200) 98%,
            rgb(206, 135, 218) 100%);
    transform: rotate(6deg);
}

.five {
    background: linear-gradient(175deg,
            rgb(248, 146, 137) 0%,
            rgb(247, 160, 152) 40%,
            rgb(218, 127, 119) 70%,
            rgb(198, 115, 108) 98%,
            rgb(248, 146, 137) 100%);
    transform: rotate(-3deg);
}

.six {
    background: linear-gradient(175deg,
            rgb(134, 150, 251) 0%,
            rgb(158, 169, 244) 40%,
            rgb(131, 141, 209) 70%,
            rgb(102, 114, 196) 98%,
            rgb(74, 78, 105) 100%);
    transform: rotate(-7deg);
}

.seven {
    background: linear-gradient(175deg,
            rgb(159, 247, 223) 0%,
            rgb(165, 246, 224) 40%,
            rgb(138, 211, 191) 70%,
            rgb(78, 138, 122) 98%,
            rgb(80, 131, 118) 100%);
    transform: rotate(-2deg);
}

.eight {
    background: linear-gradient(175deg,
            rgb(249, 165, 123) 0%,
            rgb(236, 165, 129) 40%,
            rgb(218, 145, 108) 70%,
            rgb(149, 98, 72) 98%,
            rgb(177, 115, 83) 100%);
    margin: 2rem;
}